.news{
    &.height{
    height: 850px;
    }
}

.breadcrumb{
    margin-top: 50px;
    height: 30px;
    width: 100%;
    background-color: #efefef;
}

.breadcrumb .container ul{
    display: flex;
    line-height: 2.4;
    font-size: 12px;
    margin-left: 6px;
}

.breadcrumb .container ul li:nth-child(n+2){
    margin-left: 30px;
    position: relative;
}

.breadcrumb .container ul li a{
    transition: all 0.2s 0s ease;
}

.breadcrumb .container ul li a:hover{
    opacity: 0.7;
    transition: all 0.2s 0s ease;

}

.breadcrumb .container ul li:nth-child(n+2)::before{
    position: absolute;
    content: "";
    top: 8.8px;
    left: -14px;
    width: 0.8px;
    height: 30%;
    background-color: black;
    transform: rotate(-60deg);
}

.breadcrumb .container ul li:nth-child(n+2)::after{
    position: absolute;
    content: "";
    bottom: 6.5px;
    left: -14px;
    width: 0.8px;
    height: 30%;
    background-color: black;
    transform: rotate(60deg);
}