.footer{
    height: 50px;
    background-color: $green;
    p{
        color: $white;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 47px;
    }
}