.single{
    margin-top: 70px;
    @include mq(sp){
        margin-left: 16px;
        margin-right: 16px;
    }

}

.single-title{
    border-bottom: 1px solid #ccc;
    margin-bottom: 68px;
}

.single-title h1{
    font-size: 34px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: normal;
}

.single-date{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    opacity: 0.8;
    margin-top: 17px;
    margin-bottom: 20px;
}

.single-content{
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: normal;
    margin-bottom: 334px;
}

.single-content .single-message{
    margin-top: 40px;
}

.single-link{
    color: #0d5fab;
    display: inline-block;
    margin-left: 20px;
    text-decoration:underline;
}


